<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        
  <beans>
  <bean id="address" class="model.Address">
  <property name="street" value="mg road"/>
  <property name="city" value="bengaluru"/>
  <property name="state" value="karnataka"/>
  <property name="zip" value="568895"/>
  <property name="country" value="india"/>
  
  </bean>
  <bean id="customer" class="model.customer" autowire="byName">
  <property name="customerid" value="01"/>
  <property name="customername" value="shivu"/>
  <property name="customercontact" value="799622583"/>
 <!--  <property name="customeraddress" ref="address"/> -->
  	
  
  
  
  
  </bean>
  
  </beans>   
  </beans> 